*{
    margin: 0;
    font-family: Poppins;
}

body{
    background-color: rgb(37, 37, 37);
}

.container{
    width: 100%;
    margin: auto;
}

.main-div {
    background-color: #252525;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.logo-nav-div{
    width: 100%;
    min-height: 10px;
    background-color: rgb(37, 37, 37);
    line-height: 10px;
    padding: 1% 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo-div {
    width: 50%;
    min-height: 50px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3%;
}

.nav-div {
    width: 50%;
    min-height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    color: #EBEBEB;
}

.nav-div a {
    color: #EBEBEB;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-div a:hover {
    color: #ffec42;
}

.header-div {
    width: 100%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.sidebar-div {
    width: 20%;
    float: left;
    min-height: 1800px;
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

.sidebar-div a:hover {
    color: #ffec42;
}

.sidebar-div a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 8px 0;
    transition: color 0.3s;
}

.social-icons {
    margin-top: auto;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

a{
    color: #EBEBEB;
    text-decoration: none;
}

p{
    color: #EBEBEB;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 2.5rem;
    color: #ffec42;
}

section {
    margin-bottom: 50px;
}

h1{
    color: #ccc;
}

h2 {
    font-size: 4rem;
    color: #ffec42;
    text-align: center;
    margin-bottom: 30px;
}

.pillars-container {
    display: flex;
    justify-content: space-around;
}

.pillar {
    text-align: center;
}

.pillar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.pillar img:hover {
    transform: scale(1.05);
}

.pillar h3 {
    font-size: 1.5rem;
    color: #ffec42;
}

.calendar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mission-vision {
    text-align: center;
}

#mission-vision h3 {
    font-size: 1.8rem;
    color: #ffec42;
    margin-top: 20px;
    margin-bottom: 10px;
}

#mission-vision p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.foot-div {
    width: 100%;
    min-height: 40px;
    text-align: center;
    font-size: 1.1rem;
    color: #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    background-color: #222;
    clear: both
}